<h1 class="title">codeSketchtober</h1>

<ul class="gallery">
{{#each pieces}}
  {{#if thumbnail}}
    <li class="gallery__item">
      <a class="gallery__link" href="/{{file}}">
        {{#if thumbnailName}}
          <img class="gallery__thumb" src="/thumbnails/{{thumbnailName}}" />
        {{ else }}
          <img class="gallery__thumb" src="/thumbnails/{{file}}.png" />
        {{/if}}
        {{name}}
      </a>
    </li>
  {{/if}}
{{/each}}
</ul>
